<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MedExtract</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <nav class="guest-navbar">
    <div class="container">
      <div class="logo">
        <a href="/">
          <img src="/images/logo-nav.png" alt="MedExtract Logo" class="logo-img" />
        </a>
      </div>

      <ul class="nav" id="guest-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/html/guest/guest-about.html">About</a></li>
        <li><a href="/guest-login">Login</a></li>
        <li><a href="/guest-register">Register</a></li>
      </ul>

    </div>
  </nav>

  <header class="header">
    <div class="container">
      <div class="header-txt">
        <h1>Lorem Ipsum</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, quo
          a. Quasi perspiciatis delectus molestiae quo? Deserunt maiores ullam
          iusto nostrum, sapiente cupiditate, in quam amet minus, quis et
          quasi.
        </p>
        <div class="button">
          <button>
            <a href="/user-search">
              <h3>Get Started</h3>
            </a>
          </button>
        </div>
      </div>
      <img class="header-img" src="/images/index-img.jpg" />
    </div>
  </header>

  <section class="boxes">
    <div class="container">
      <h1>FEATURES</h1>
      <div class="box-container">
        <div class="box">
          <h2>OCR Scanning</h2>
          <img src="/Flaticons/index/ocr.png" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            labore quasi quo officia deleniti alias saepe mollitia? Maxime
            eveniet quaerat asperiores voluptate, ab esse modi officiis
            repellat! Reprehenderit, nemo magnam?
          </p>
        </div>

        <div class="box">
          <h2>Machine Learning</h2>
          <img src="/Flaticons/index/coding.png" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            labore quasi quo officia deleniti alias saepe mollitia? Maxime
            eveniet quaerat asperiores voluptate, ab esse modi officiis
            repellat! Reprehenderit, nemo magnam?
          </p>
        </div>

        <div class="box">
          <h2>Medical Insights</h2>
          <img src="/Flaticons/index/documents.png" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            labore quasi quo officia deleniti alias saepe mollitia? Maxime
            eveniet quaerat asperiores voluptate, ab esse modi officiis
            repellat! Reprehenderit, nemo magnam?
          </p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="f-1">
        <a href="/">
          <img src="/images/logo-footer.png" alt="MedExtract Logo" class="logo-img" />
        </a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
          id aspernatur itaque cumque vitae odit sint eligendi nam libero
          voluptate magni aperiam, veniam ullam tenetur quidem nostrum enim
          eos a.
        </p>
      </div>

      <div class="f-2">
        <div>
          <h2>Links</h2>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/html/guest/guest-about.html">About</a></li>
            <li><a href="/guest-login">Login</a></li>
            <li><a href="/guest-register">Register</a></li>
          </ul>
        </div>
      </div>

      <div class="f-3">
        <h2>Contacts</h2>
        <div class="contacts">
          <div>
            <img src="/Flaticons/index/location.png" /> &nbsp;
            <p>
              University of The East Caloocan, 105 Samson Rd, Caloocan, Metro
              Manila
            </p>
          </div>
          <div>
            <img src="/Flaticons/index/email.png" /> &nbsp;
            <p>nogot.markvincent@ue.edu.ph</p>
          </div>
          <div>
            <img src="/Flaticons/index/call.png" /> &nbsp;
            <p>09991624156</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>

  </script>

</body>

</html>